/*Visa meny i desktop*/
  .desktop-nav {
    display: flex;
    gap: 20px;        
    flex-wrap: wrap;  
    justify-content: space-between;
    border: 1px solid;
    padding-left: 45px;
  }

  .desktop-nav > a{
    padding: 5px;
  }