.header-display {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-left: 1px solid;
  border-top: 1px solid;
  border-right: 1px solid;
}

/*to remove blue and underscore from links a*/
a {
  text-decoration: none;
  color: black;         
}

.main-nav {
display: flex;
}

/* every element of type a in class main-nav */
.main-nav > a 
{
  border-left: 1px solid;
  padding: 10px;
  margin: auto;
}

.desktop-nav {
  display: none; 
}

.square {
    margin: 20px; 
    border: 2px solid black;
    display: inline-block; 
    padding: 5px;

     display: flex;             
  flex-direction: column;     
  justify-content: space-between;
  align-items:flex-start;
  box-sizing: border-box;
  }

  .container {
  display: flex;
  gap: 20px;        
  flex-wrap: wrap;  
  justify-content: space-between;
}

 .show-more {
  background-image: url(../Pictures_from_website/Backgrounds/Show_More_Background_Picture.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 40px;
  height: 200px;
}

.menu-icon::before {
  content: "☰"; /* mobil*/
  font-size: 30px; 
}
body{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@media (min-width: 768px) {

  /* Byt ikon */
  .menu-icon::before {
    content: "🏠";
  }

  
}