body {
  background-color: #fefef6;
}

.header-display {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-left: 1px solid;
  border-top: 1px solid;
  border-right: 1px solid;
  border-bottom: 1px solid;
}

/*to remove blue and underscore from links a*/
a {
  text-decoration: none;
  color: black;
}

.main-nav {
  display: flex; 
}

/* every element of type a in class main-nav */
.main-nav>a {
  border-left: 1px solid;
  padding: 10px;
  margin: auto;
}

.desktop-nav {
  display: none;
}

.square {
  margin: 20px;
  border: 2px solid black;
  display: inline-block;
  padding: 5px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  box-sizing: border-box;
}

.container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.show-more {
  background-image: url(../Pictures_from_website/Backgrounds/Show_More_Background_Picture.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 40px;
  height: 200px;
}

.card-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "box-1 box-1"
    "box-2 box-2"
    "box-2 box-2"
    "box-2 box-2"
    "box-3 box-4"
    "box-5 box-5"
    "box-6 box-6"
    "box-6 box-6";
}

.look-book-refil {
  display: block;
}

.menu-icon::before {
  display: flex;
  align-items: center;
  font-family: 'Material Icons';
  content: "menu";
  font-size: 30px;
}

.square img {
  width: 100%;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@media (min-width: 768px) {

  /* Byt ikon */
  .menu-icon::before {
    font-family: 'Material Icons';
    content: "home";
    font-size: 30px;
    border-right: 1px solid;
    display: flex;
    padding: 7.5px;
    align-items: center;
  }
  /*Visa meny i desktop*/
  .desktop-nav {
    display: flex;
    gap: 20px;        
    flex-wrap: wrap;  
    justify-content: space-between;
    border: 1px solid;
    padding-left: 45px;
  }

  .desktop-nav > a{
    padding: 5px;
  }

  .look-book-refil {
    display: none;
  }

  .card-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "box-1 box-1 box-2 box-2"
      "box-3 box-4 box-2 box-2"
      "box-5 box-5 box-2 box-2"
  }
}